.card {
    width: 300px;
    padding: 50px;
    margin: 10px auto; 
    justify-content: center; 
    background-color:whitesmoke;
}
textarea{
    border: none; /* Remove the border */

}
.heading {
    background-color: darkorange;
}

body {
    background-color:wheat;
}
input {
    border: none; /* Remove the border */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding if needed */
}
textarea::placeholder {
    font-weight: bold;
    color: #555;
    /* You can also adjust the color if needed */
}
input::placeholder{
    font-weight: bold;
    color: #555; 
    

}